body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-colour{
    color: orange;
}
section{
    display: flex;
}
.division{
    width: 50%;
    padding-left: 50px;
}
.division img{
    width: 70%;
    padding-top: 30px;
    padding-left: 60px;
}
.fbprofile{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    background-color: orange;
    border-radius: 7px;
}