body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-colour{
    color: orange;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
}
.division{
    width: 50%;
    padding-left: 60px;
    padding-top: 40px;
}
.division img{
    width: 70%;
    padding-top: 30px;
    padding-left: 60px;
}
.fbprofile{
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 700;
    background-image: radial-gradient(orange, tomato);
    border-radius: 7px;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
#left{
    padding-right: 100px;
    text-align: justify;
}
.bottom-banner{
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}